$color-secundario:#f2210a;
$opposite-color:#f2210a;
$color-tema:#db0d02;
$color-texto:#dadada;
$color-titulo:#ffffff;
$color-blanco:#ffffff;
$light-bg-color:#f6f6f6;   
$light-bg-color-2:#eee; 
$bg-color:#101d2c;
$color-blue: #222F3D;
$color-blue-dark: #101d2c;
$color-blue-light: #34404E;

$color-one-light: #ffb900;
$color-one-dark: #ff7730;

$color-two-light: #2998ff;
$color-two-dark: #5643fa;

$color-three-light: #7ed56f;
$color-three-dark: #28b485;

$color-black: #000;
$color-gray-dark: #777;
$color-gray-dark-2: #999;

$color-bg-footer:#222222

// $color-secundario-light: #FC3808;
// $color-secundario-dark: #D4260B;

