.carousel-index {
    .customers-6-content {
        .heading h3{
            color: $color-titulo;
        }
        .carousel-indicators {
            left: 0;
            right: 0;
            bottom: -1.2rem;
            margin-right: 0;
            margin-left: 0;
            &.active {
                background: $opposite-color;
            }
        }
        .carousel-inner {
            .card {
                padding: 1rem;
                border-radius: 4px;
                background: $bg-color;
                border: solid 1px rgba(255, 255, 255, 0.1);
                .card:hover{
                    transition: 0.5s ease;
                }
                .card-body {
                    position: relative;
                    img {
                        transition: 0.5s ease;
                    }
                    h3.card-title {
                        font-size: 1.1rem;
                        line-height: 1.5rem;
                        color: $opposite-color;
                        font-weight: 700;
                        margin-bottom: 0;
                    }
                    h4.card-title {
                        font-size: 1.5rem;
                        line-height: 1.5rem;
                        color: $color-titulo;
                        font-weight: 700;
                        margin-bottom: 0;
                    }
                    p.card-text{
                        font-size: .9rem;
                        line-height: 1.5rem;
                        color: $color-blanco;
                    }
                }
            }
        }
    }
}
